.highlights {
  background-color: transparent;
  margin: 0 4%;
}

.media {
  object-fit: contain;
  max-width: 90%;
  margin-top: 10%;
  margin-left: 5%;
}

.text-container {
  aspect-ratio: 1;
  margin: auto;
}

.highlight-text {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0 16px;
}

.text-left {
  text-align: right;
  padding-right: 3rem;
}

.text-right {
  text-align: left;
  padding-left: 3rem;
}

@media screen and (max-width: 768px) {
  .highlight-text {
    padding: 0;
    font-size: 2rem;
    text-align: center;
  }
  .text-container {
    padding: 0;
  }
  .media {
    margin: 0 auto;
  }
}

@media screen and (max-width: 956px) {
  .highlight-text {
    padding: 0;
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 1154px) {
  .highlight-text {
    font-size: 2.50rem;
  }
}