
.media {
  object-fit: contain;
  max-width: 90%;
  margin-top: 10%;
}

video {
  margin-left: 5%;
}

.highlight-text {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  max-width: 50%;
  margin: auto;
  text-align: left;
  /* Center text */
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-container {
  aspect-ratio: 1;
}

img {
  max-height: 100%;
}

.highlights-right {
  height:min-content;
}

.media-container {
  max-height: 42vw;
}
