.row {
  margin-right: 0;
}

.main {
  background-image: url('../../assets/NotesBackground.png'), 
    linear-gradient(to bottom, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 0%, rgba(128,128,128,1) 100%);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}