.dropdown {
  overflow:visible;
}

.dropdown-menu {
  display: block !important;
  position: absolute;
  top: 100%; /* position the dropdown menu below the button */
  left: 0; /* position the dropdown menu to the left of the button */
  z-index: 999; /* ensure the dropdown menu is on top of other elements */
}

.dropdown-menu li {
  padding: 0.25rem;
}

.dropdown-menu li a {
  color: white;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  font-style:italic;
}