.contact {
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}

.contact li {
  list-style: none;
  display: inline-flex;
  margin: 0 3rem;
}

.contact li a {
  text-decoration: none;
  color: white;
}