.intro {
  min-height: 300px;
  padding: 10%;
  color: black;
}
.intro .intro-text {
  max-width: 600px;
  margin: auto;
  background-color: rgba(250, 250, 250, .5);
  padding: 1.5rem 3rem;
}

.intro h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
}

.intro p {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}